.name
{
  position: absolute;
  width: 213px;
  height: 190px;
  left: 211px;
  top: 311px;
  font-family: Rubik;
  font-style: normal;
   font-weight: 500;
  font-size: 80px;
  line-height: 95px;
  color: #120644;
}
.heading 
{
  position: absolute;
  width: 63px;
  height: 28px;
  left: 211px;
  top: 40px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #7562E0;
}

.menu1
{
  position: absolute;
  width: 63px;
  height: 28px;
  left: 801px;
  top: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.menu2
{
  position: absolute;
  width: 63px;
  height: 28px;
  left: 1001px;
  top: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.menu3
{
  position: absolute;
  width: 63px;
  height: 28px;
  left: 1201px;
  top: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.designation
{
  position: absolute;
  width: 237px;
  height: 42px;
  left: 211px;
  top: 553px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.button 
{  
  background-color: #7562E0;
  color: #FFFFFF;
  padding: 16px 48px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

a
{
  position: absolute;
  width: 120px;
  height: 30px;
  left: 211px;
  top: 630px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

.headname{
   position: absolute;
  width: 63px;
  height: 28px;
  left: 211px;
  top: 40px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #7562E0;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
li, a{
  text-decoration: none;
  color: black;
}
.nav-links li{
  display: inline-block;
  padding: 0px 20px;
  align : left;
  font-family: Rubik;
}
.name
{
  position: absolute;
  width: 213px;
  height: 190px;
  left: 211px;
  top: 311px;
  font-family: Rubik;
  font-style: normal;
   font-weight: 500;
  font-size: 80px;
  line-height: 95px;
  color: #120644;
}
.designation{
  position: absolute;
  width: 237px;
  height: 42px;
  left: 211px;
  top: 553px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.button{
position: absolute;
width: 170px;
height: 50px;
left: 220px;
top: 609px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
 text-decoration: none;
  padding: 10px 35px;
  background-color: #7562E0
  
}

}
svg
{
  position: absolute;
  width: 1020px;
  height: 1020px;
  left: 1289px;
  top: 242px;
}

.fa 
{
  padding: 10px;
  font-size: 100px;
  width: 20px;
  text-align: right;
  text-decoration: none;  
}
.fa-facebook 
{  

  color: black;
  position: absolute;
  left: 85.17%;
  right: 7.08%;
  top: 168.33%;
  bottom: 8.33%;
  background: #A696FF;
}

.fa-twitter 
{  
  color: black;
  position: absolute;
  left: 85.17%;
  right: 27.08%;
  top: 172.33%;
  bottom: 8.33%;
  background: #A696FF;
}

.fa-linkedin 
{  
  color: black;
  position: absolute;
  left: 85.17%;
  right: 27.08%;
  top: 177.33%;
  bottom: 8.33%;
  background: #A696FF;
}

