


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}


.button 
{  
  top:1000px
  background-color: #7562E0;
  color: #FFFFFF;
  padding: 16px 48px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}



.headname{
   position: absolute;
  width: 63px;
  height: 28px;
  left: 220px;
  top: 40px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #7562E0;
}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
li, a{
  
  text-decoration: none;
  color: black;
}
.nav-links li{
  display: inline-block;
  
  padding: 0px 20px;
  align: left;
  font-family: Rubik;
  
}
.name
{
  position: absolute;
  width: 213px;
  height: 190px;
  left: 220px;
  top: 311px;
  font-family: Rubik;
  font-style: normal;
   font-weight: 500;
  font-size: 80px;
  line-height: 95px;
  color: #120644;
}
.designation{
  position: absolute;
  width: 237px;
  height: 42px;
  left: 220px;
  top: 603px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.button{
position: absolute;
width: 170px;
height: 50px;
left: 220px;
top: 709px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
 text-decoration: none;
  padding: 10px 35px;
  background-color: #7562E0
  
}

svg
{
  position: absolute;
  width: 1140px;
  height: 800px;
  left: 760px;
  top: 202px;
}

.fa 
{
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: right;
  text-decoration: none;  
  font-color: #FFFFFF;
}
.fa-facebook 
{  

  color: black;
  position: absolute;
  
  right: 20.08%;
  top: 75.33%;

  background: #A696FF;
}

.fa-twitter 
{  
  color: black;
  position: absolute;
  
  right: 20.08%;
  top: 85.33%;
 
  background: #A696FF;
}

.fa-linkedin 
{  
  color: black;
  position: absolute;
  
  right: 20.08%;
  top: 95.33%;
  
  background: #A696FF;
  
}

img {
  display: block;
  max-width: 100%;
  position: absolute;
  Width:1440px;
  Height:900px;
  right: 5.08%;
  top: 10.33%;
}